/* utility */
.bordo{
    border: 1px solid rgb(241, 241, 241);
    
}
img{
    width: 100%;
}

/* contenitori principali */
.genarl-conteiner{
    height: 100vh;
    background-color: rgb(13, 87, 13);
    background-image: linear-gradient(rgb(33, 14, 88), gray);
    background-image: linear-gradient(#00A884 200px, rgb(193, 191, 191) 0%);
    
    
}
/* conteienr app */
.container-whatz{
    margin: auto;
}
.conteiner-img{
    width: 60px;
    object-fit: cover;
}
/* conteienr card */
.cont-card{
    background-color: rgb(227, 222, 222);
    padding: 5px;
}
/* conteienr parte sinistra chat */
.conteienr-sx{
    background-color: rgb(193, 191, 191);
}
/* conteienr ricerca */
.conteiner-new-messages{
    height: 80px;
    background-color: rgb(108, 230, 241);
}
.conteiner-ricerca{
    height: 50px;
    background-color: white;
}
.conteiner-write{
    height: 60px;
    background-color: rgb(226, 220, 220);
}
.inpun-cont{
    width: 600px;
    border: 1px solid white;
    border-radius: 10px;
}
/* parte sinistra style scritte */


/* scritte mesaggi  */
.sent{
    background-color: #9dca4e;
    padding: 20px;
    border-radius: 10px;
}
.received{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}


/* parte destra back groude img */
.img-back{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: 50.6vh;
}